{% extends "base.html" %}
{% load static %}

{% block content %} 
      <!--cta heading-->
        <div class="row">
          <div class="cta-heading col-12 col-sm-6 col-lg-4 text-center text-sm-start mx-md-3">
            <h1><p class="display-4 p-3">View Our Quality Pre-loved Refurbished Appliances</p></h1>
          </div>
        </div>

      <!--cta button-->
      <div class="row sticky mt-3">
        <div class=" col text-center text-sm-start">
          <a href="#" class=" cta-button btn btn-dark btn-lg rounded-0">Shop Now</a>
        </div>
      </div>
      
      <!--about-us section-->
      <section class="about-us pt-3 text-center p-3">
        <h2>About us</h2>
            Welcome to our community charity shop nestled in the heart of a quaint Welsh town! 
            At our store, we're more than just a retail space; we're a hub of goodwill and sustainability. 
            Our dedicated team of local volunteers works tirelessly to refurbish and safety-check donated appliances like washing machines, 
            tumble dryers, and cookers. 
            Our commitment to affordability ensures that everyone in our town has access to quality appliances without breaking the bank!
        </p>
        <p>
          Welcome to our community charity shop nestled in the heart of a quaint Welsh town! 
          At our store, we're more than just a retail space; we're a hub of goodwill and sustainability. 
          Our dedicated team of local volunteers works tirelessly to refurbish and safety-check donated appliances like washing machines, 
          tumble dryers, and cookers. 
          Our commitment to affordability ensures that everyone in our town has access to quality appliances without breaking the bank!
      </p>
        
      </section>
{% endblock %}