{% extends "base.html" %}
{% load static %}

{% block content %} 
      <!--cta heading-->
        <div class="row mt-5">
          <div class="col-12 col-sm-6 col-lg-4">
            <h1><p class="cta-heading text-center text-sm-start display-5 p-3">View Our Quality Pre-loved Refurbished Appliances</p></h1>
          </div>
        </div>
  
      <!--cta button-->
      <div class="row mt-3 sticky">
        <div class=" col text-center text-sm-start">
          <a href="#" class=" cta-button btn btn-dark btn-lg rounded-0">Shop Now</a>
        </div>
      </div>
      <!--about-us section-->
      <section>
        <p>
            Welcome to our community charity shop nestled in the heart of a quaint Welsh town! At our store, we're more than just a retail space; we're a hub of goodwill and sustainability. 
            Our dedicated team of local volunteers works tirelessly to refurbish and safety-check donated appliances like washing machines, tumble dryers, and cookers.
        </p>
        <p>
            By accepting generous donations from our community, we extend the life cycle of these essential household items, promoting environmental responsibility and reducing waste. 
            Our commitment to affordability ensures that everyone in our town has access to quality appliances without breaking the bank. 
            Every purchase made at our shop not only benefits the buyer but also supports our charitable initiatives.
        </p>
        <p>
          By accepting generous donations from our community, we extend the life cycle of these essential household items, promoting environmental responsibility and reducing waste. 
          Our commitment to affordability ensures that everyone in our town has access to quality appliances without breaking the bank. 
          Every purchase made at our shop not only benefits the buyer but also supports our charitable initiatives.
      </p>
      </section>
{% endblock %}