html {
    height: 100%;
}

body {
    background: url('/media/background-large-scaled.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto';
    color: black;
}

.sticky {
    position: sticky;
    top: 210px;
    z-index: 1;
}

/* for site features  */

.accent {
    color: blue;
}

.logo-font {
    font-size: 2rem;
}

 /* icon sizing  */
i {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

img {
    object-fit: contain
}

#main-nav .dropdown-item {
    font-size: 0.75rem;
}

/* overide BS5 styling by adding main-nav ID to make selector more specific */
#main-nav a {
    color: black;
}

#main-nav a:hover {
    color: rgba(0, 0, 0, 0.2);
}

#main-nav .dropdown-menu.show {
    display: inline-block;
    text-align: center;
}

.cta-heading {
    background-color: black;
    opacity: 0.5;
    color: white;
}

.cta-button {
    color: white;
    background-color: black;
    font-size: 1rem;
}

.cta-button:hover{
    color: rgba(255, 255, 255, 0.624);
    background-color: black;
    font-size: 1rem;
}

#shop-now-button-container{
    margin-top: 5vh;
}

#shop-now-button-container .cta-button{
    min-width: 200px;
}

/*  branding links   */

 .branding {
    color: blue;
}

.branding:hover {
    color: rgba(0, 0, 255, 0.2);
    text-decoration: none;
}

.about-us {
    color: white;
    background-color: black;
    opacity: 0.5;
    font-size: 1rem;
    margin-top: 10vh;
}

.page-top-padding{
    padding-top: 210px;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #dee2e6;
    z-index: -1;
}
/*---dropdown styles---*/

#main-nav .dropdown-item:focus, 
#main-nav .dropdown-item:hover, 
header .dropdown-item:focus,
header .dropdown-item:hover 
{
    color: white;
    background-color: blue;
}

/*---allauth form styling---*/

.allauth-form-inner-content h1 {
    color: blue;
}

.allauth-form-inner-content a {
    color: blue;
    text-decoration: none;
}

.allauth-form-inner-content a:hover {
    color: rgba(0, 0, 255, 0.2);
    text-decoration: none;
}

.allauth-form-inner-content button {
    color: white;
    background-color: black;
    font-size: 1rem;
}

.allauth-form-inner-content button:hover{
    color: rgba(255, 255, 255, 0.624);
    background-color: black;
    font-size: 1rem;
}

/* retain label on login checkbox */

.allauth-form-inner-content label:not([for='id_remember']) 
{
    display: none;
}

/* larger font for lg devices */

@media (min-width: 992px) {
    .about-us {
        font-size: 1.5rem;
    }
    #main-nav .nav-link {
        font-size: 1.5rem;
    }
    #main-nav .dropdown-item {
        font-size: 1rem;
    }
}
