body {
    background: url('/media/background-large-scaled.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto';
    color: black;
}

.sticky {
    position: sticky;
    top: 210px;
    z-index: 1;
}
 /* icon sizing  */
i {
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

/* accent color for features */
.accent {
    color: blue;
}

img {
    object-fit: contain
}

#main-nav {
    font-size: 1.5em;
}

/* overide BS5 styling by adding main-nav ID to make selector more specific */
#main-nav a {
    color: black;
}

#main-nav a:hover {
    color: rgba(0, 0, 0, 0.2);
}

.cta-heading {
    background-color: black;
    opacity: 0.5;
    color: white;
}

.cta-button {
    color: white;
    background-color: black;
    font-size: 1em;
}

.cta-button:hover{
    color: rgba(255, 255, 255, 0.624);
    background-color: black;
    font-size: 1em;
}

a.branding {
    color: blue;
    text-decoration: none;
}

a.branding:hover {
    color: rgba(0, 0, 255, 0.2);
    text-decoration: none;
}

#account {
    color: blue;
    text-decoration: none;
}

#account:hover {
    color: rgba(0, 0, 255, 0.2);
    text-decoration: none;
}
.about-us {
    margin-top: 100px;
    margin-bottom: 50px;
    color: white;
    background-color: black;
    opacity: 0.5;
}
.page-top-padding{
    padding-top: 230px;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}
/*---dropdown styles---*/

#main-nav .dropdown-item:focus, 
#main-nav .dropdown-item:hover, 
header .dropdown-item:focus,
header .dropdown-item:hover 
{
    color: white;
    background-color: blue;
}

/*---allauth form styling---*/

.allauth-form-inner-content h1 {
    color: blue;
}

.allauth-form-inner-content a {
    color: blue;
    text-decoration: none;
}

.allauth-form-inner-content a:hover {
    color: rgba(0, 0, 255, 0.2);
    text-decoration: none;
}

.allauth-form-inner-content button {
    color: white;
    background-color: black;
    font-size: 1em;
}

.allauth-form-inner-content button:hover{
    color: rgba(255, 255, 255, 0.624);
    background-color: black;
    font-size: 1em;
}

/* retain label on login checkbox */

.allauth-form-inner-content label:not([for='id_remember']) 
{
    display: none;
}

/* extra spacing for larger devices */

@media (min-width: 1200px) { 
    .page-top-padding{
    padding-top: 230px;
    }
}

@media (min-width: 1200px) { 
    .about-us{
    margin-top: 230px;
    }
}

@media (min-width: 1900px) { 
    body {
        font-size: 1.5rem;
    }
    .form-control {
        font-size: 1em;
    }
    .dropdown-menu { 
        font-size: 0.75em;
    }
}

@media (min-width: 2500px) { 
    body {
        font-size: 2rem;
    }
    .form-control {
        font-size: 1em;
    }
    .dropdown-menu { 
        font-size: 0.75em;
    }
    .page-top-padding{
        padding-top: 300px;
    }
}