{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <script src="https://kit.fontawesome.com/973b5ea695.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="icon" type="image/png" href="{% static 'favicon/favicon.ico' %}">
  <title>Community Appliances</title>
</head>
<body>

  <!--main header-->
  <header class="container-fluid bg-light fixed-top pt-3">
    <div class="row main-header">
      <div class="col-4 me-auto">
        <p class="display-6">Community Appliances</p>
      </div>
      <div class="col-2 px-0 text-end">
        <div class="text-center">
          <div><i class="fa-solid fa-user"></i></div>
          <p>Account</p>
        </div>
      </div>
      <div class="col-2 px-0">
        <div class="text-center">
          <div><i class="fa-solid fa-cart-shopping"></i></div>
          <p>£0.00</p>
        </div>
      </div>
    </div>
  
  <!--main nav-->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Washing Machines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tumble Driers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gas Cookers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Electric Cookers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">All Appliances</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

  <!--main content-->

  <div class="container-fluid">

    {% block content %}
    {% endblock %}
    
  </div>
</body>

</html>