{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<!--padding to prevent navbar overlap-->
<div class="row" style="padding-top: 200px;"></div>
<div class="row">
    <div class="col text-center">
        <hr class=" w-50 mx-auto mb-3">
      </div>
</div>
<!--BS5 alert to show Django messages-->
{% for msg in messages %}
<div class="alert alert-success d-flex align-items-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    <div>
        {{msg}}
    </div>
  </div>
{% endfor %}
<div class="row">
    <div class="col-sm-6 offset-md-4">
        <!--BS5 horizontal card-->
        <div class="card mb-3 p-3 border border-primary rounded-3">
            <div class="row g-0">
                <div class="col-md-4 ">
                    <!-- card image link to full-size image-->
                    <a href="{{product.image.url}}">
                        <img src="{{product.image.url}}" class="img-fluid rounded-start"
                        alt="picture of {{ product.name }}" width="300" height="300">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-title">{{product.category}}</p>
                        <h5 class="card-title display-6">{{product.name}}</h5>
                        <p class="card-text"><em>{{product.description}}</em></p>
                        <p class="card-text">Grade: {{product.grade}}</p>
                        <p class="card-text"><em>{{product.grade.description}}</em></p>
                        <p class="card-text accent display-6"><strong>£{{product.price}}</strong></p>
                        <p>
                            <a href="{% url 'products' %}" class="btn btn-primary rounded-0">
                                <span>Keep Shopping</span>
                            </a>
                        </p>
                        <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12">
                                    
                                    <input type="submit" class="btn-primary rounded-0 mt-2" value="Add to Cart">
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </form>
                        <hr>
                        <p class="card-text text-success"><em>Safety: {{product.certificate.description}}</em></p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
